<mat-form-field [class.error]="isError && !disabled" appearance="outline">
  <input
    matInput
    #input="ngModel"
    [type]="hide ? 'password' : 'text'"
    [(ngModel)]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [mask]="mask"
  />
  <button
    matSuffix
    mat-icon-button
    *ngIf="isHideDeclared"
    (click)="hide = !hide"
  >
    <mat-icon
      fontIcon="{{ hide ? 'visibility_off' : 'visibility' }}"
    ></mat-icon>
  </button>
  <mat-icon *ngIf="disabled" matSuffix svgIcon="lock"></mat-icon>
</mat-form-field>
