$dark-text-color: rgb(75, 75, 75);
$white: white;

$primary-color: rgb(45, 45, 144);
$secondary-color: rgba(167, 167, 167, 0.808);
$transparent-color: rgb(55 138 179);
$dark-color: rgb(88, 88, 88);

$primary-color__hover: rgb(100, 100, 177);
$secondary-color__hover: rgba(209, 209, 209, 0.808);
$transparent-color__hover: rgb(108, 181, 218);
$dark-color__hover: rgb(111, 111, 111);

$primary-color__activity: rgb(77, 77, 169);
$secondary-color__activity: rgba(184, 159, 159, 0.808);
$transparent-color__activity: rgb(82, 164, 205);
$dark-color__activity: rgb(85, 78, 78);

$secondary-border: rgb(167, 167, 167);

$input-disabled: rgba(230, 230, 230, 0.74);
